@model AssessmentAnywhere.Models.AssessmentEditor.EditModel
@{
    ViewBag.Title = Model.Name;
    var marksInputTextPlaceholder = Model.TotalMarks.HasValue ? string.Format("0-{0}", Model.TotalMarks) : "0-#";
}

@section Head
{
    <style type="text/css">
        .sidebar-nav {
            padding: 9px 0;
        }

        td > * {
            margin-bottom: 0 !important;
        }

        input[readonly] {
            cursor: default !important;
        }
    </style>
}
<div class="container-fluid">
    @using (Html.BeginForm("Update", "AssessmentEditor", new { id = Model.Id }, FormMethod.Post))
    {
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Actions</li>
                        <li>
                            <a href="@Url.Action("Upload", "AssessmentImport", new { id = Model.Id })">
                                <i class="icon-download-alt"></i>
                                Import names...
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "AssessmentGradeBoundaries", new { id = Model.Id })">
                                <i class="icon-pencil"></i>
                                Edit grade boundaries...
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group @(this.ViewData.ModelState.IsValidField("Name") ? "" : "error")">
                            @Html.TextBoxFor(m => m.Name,
                                new
                                    {
                                        title = "Assessment name",
                                        @class = "span12",
                                        tabindex = 1,
                                        placeholder = "Assessment name"
                                    })
                        </div>
                    </div>
                    <div class="span3 form-inline">
                        <div class="control-group @(this.ViewData.ModelState.IsValidField("TotalMarks") ? "" : "error")">
                            @Html.LabelFor(m => m.TotalMarks, "Total marks ")
                            @Html.TextBoxFor(m => m.TotalMarks,
                                new
                                    {
                                        @class = "input-small",
                                        placeholder = "Total Marks",
                                        tabindex = 2,
                                    })
                        </div>
                    </div>
                    <div class="span3">
                        <button type="submit"  class="btn btn-success pull-right has-tooltip" tabindex="@((Model.Results.Count * 3) + 7)"
                            data-toggle="tooltip" data-placement="bottom" title="Hint: you can also just press enter after editing!">
                            <i class="icon-check icon-white"></i>
                            Save changes
                        </button>
                    </div>
                </div>
                <div class="row-fluid">
                    <table class="table table-condensed" id="candidates">
                        <thead>
                            <tr>
                                <th>Surname</th>
                                <th>Fornames</th>
                                <th>Result</th>
                                <th>Percentage</th>
                                <th>Grade</th>
                                @if (Model.Results.Any())
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Results.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <div class="control-group @(this.ViewData.ModelState.IsValidField(string.Format("Results[{0}].Surname", i)) ? "" : "error")">
                                            @Html.HiddenFor(m => m.Results[i].RowId)
                                            @Html.TextBoxFor(m => m.Results[i].Surname,
                                                new
                                                    {
                                                        @class = "input-small",
                                                        placeholder = "Surname",
                                                        tabindex = (i * 2) + 3,
                                                    })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="control-group @(this.ViewData.ModelState.IsValidField(string.Format("Results[{0}].Forenames", i)) ? "" : "error")">
                                            @Html.TextBoxFor(m => m.Results[i].Forenames,
                                                new
                                                    {
                                                        @class = "input-small",
                                                        placeholder = "Forenames",
                                                        tabindex = (i * 2) + 4
                                                    })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="control-group @(this.ViewData.ModelState.IsValidField(string.Format("Results[{0}].Result", i)) ? "" : "error")">
                                            @if (Model.SelectedResultIndex.HasValue && Model.SelectedResultIndex.Value == i)
                                            {
                                                @Html.TextBoxFor(m => m.Results[i].Result,
                                                    new
                                                        {
                                                            @class = "input-mini",
                                                            placeholder = marksInputTextPlaceholder,
                                                            autofocus = "autofocus",
                                                            tabindex = (Model.Results.Count * 2) + 7 + i,
                                                        })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.Results[i].Result,
                                                    new
                                                        {
                                                            @class = "input-mini",
                                                            placeholder = marksInputTextPlaceholder,
                                                            tabindex = (Model.Results.Count * 2) + 7 + i,
                                                        })
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-append">
                                            @Html.TextBoxFor(m => m.Results[i].Percentage,
                                                new
                                                    {
                                                        @class = "input-mini",
                                                        @readonly = "readonly",
                                                    })
                                            <span class="add-on">%</span>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Results[i].Grade,
                                            new
                                                {
                                                    @class = "input-mini",
                                                    @readonly = "readonly",
                                                })
                                    </td>
                                    <td>
                                        <a tabindex="@((Model.Results.Count * 3) + 7 + i)" href="@Url.Action("DeleteResultRow", new { id = Model.Id, rowId = Model.Results[i].RowId })" class="btn btn-danger">
                                            <i class="icon-remove icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <div class="control-group @(this.ViewData.ModelState.IsValidField("NewRow.Surname") ? "" : "error")">
                                        @if (Model.SelectedResultIndex.HasValue)
                                        {
                                            @Html.TextBoxFor(m => m.NewRow.Surname,
                                                new
                                                    {
                                                        placeholder = "Surname",
                                                        @class = "input-small",
                                                        tabindex = (Model.Results.Count * 2) + 3,
                                                    })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.NewRow.Surname,
                                                new
                                                    {
                                                        placeholder = "Surname",
                                                        @class = "input-small",
                                                        autofocus = "autofocus",
                                                        tabindex = (Model.Results.Count * 2) + 3,
                                                    })
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="control-group @(this.ViewData.ModelState.IsValidField("NewRow.Forenames") ? "" : "error")">
                                        @Html.TextBoxFor(m => m.NewRow.Forenames,
                                            new
                                                {
                                                    placeholder = "Forenames",
                                                    @class = "input-small",
                                                    tabindex = (Model.Results.Count * 2) + 4,
                                                })
                                    </div>
                                </td>
                                <td>
                                    <div class="control-group @(this.ViewData.ModelState.IsValidField("NewRow.Result") ? "" : "error")">
                                        @Html.TextBoxFor(m => m.NewRow.Result,
                                            new
                                                {
                                                    @class = "input-mini",
                                                    placeholder = marksInputTextPlaceholder,
                                                    tabindex = (Model.Results.Count * 2) + 5,
                                                })
                                    </div>
                                </td>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-success" tabindex="@((Model.Results.Count * 2) + 5)">
                                        <i class="icon-plus icon-white"></i>
                                        Add new candidate
                                    </button>
                                </td>
                                @if (Model.Results.Any())
                                {
                                    <td></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row-fluid">
                    @foreach (var error in ViewData.ModelState.SelectMany(kv => kv.Value.Errors))
                    {
                        <div class="alert alert-error">
                            @error.ErrorMessage
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('.has-tooltip').tooltip();
        });
    </script>
}
