<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    @Styles.Render("~/css/bootstrap.min.css")
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    @Styles.Render("~/css/bootstrap-responsive.min.css")
</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Assessment Anywhere", "Index", "Home", null, new { @class = "brand" })
                </div>
            </div>
        </div>
        
        <div class="container">

            @RenderBody()

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/js/bootstrap.min.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
