@model AssessmentAnywhere.Models.Assessments.DetailsModel
@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout.cshtml";
}

@section Head
{
    <link href="@Url.Content("~/css/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/kendo.bootstrap.min.css")" rel="stylesheet" />
    <style type="text/css">
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
}

<div class="row-fluid">
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
        <li>@Html.ActionLink("Assessments", "Index") <span class="divider">/</span></li>
        <li class="active">@Model.Name</li>
    </ul>
</div>

<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Actions</li>
                <li><a href="@Url.Action("Create")"><i class='icon-plus'></i>New Assessment</a></li>
                <li><a href="#"><i class="icon-download-alt"></i>Import names</a></li>
            </ul>
        </div>
    </div>
    <div class="span9">
        <div class="k-content">
            <div id="assessments-grid">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/kendo.web.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            var assessmentsDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Results", "Assessments", new { id = Model.Id })',
                        dataType: "json",
                    },
                    create: {
                        url: '@Url.Action("AddResult", "Assessments", new { id = Model.Id })',
                        type: 'POST',
                        datatype: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteResult", "Assessments", new { id = Model.Id })',
                        type: 'POST',
                        datatype: "json"
                    },
                    update: {
                        url: '@Url.Action("UpdateResult", "Assessments", new { id = Model.Id })',
                        type: 'POST',
                        datatype: "json"
                    }
                },
                schema: {
                    model: {
                        id: "RowId",
                        fields: {
                            RowId: { editable: false, nullable: true },
                            CandidateName: { type: "string", validation: { required: true } },
                            Result: { type: "number", validation: { required: false, min: 0 } },
                            Percentage: { type: "string", editable: false },
                            Grade: { type: "string", editable: false }
                        }
                    }
                },
            });

            $('#assessments-grid').kendoGrid({
                dataSource: assessmentsDataSource,
                filterable: true,
                sortable: true,
                toolbar: ["create"],
                editable: "inline",
                columns: [{
                        field: "CandidateName",
                        title: "Candidate Name"
                    }, {
                        field: "Result",
                        width: 200,
                    }, {
                        field: "Percentage",
                        width: 100,
                        format: '{0:P}'
                    }, {
                        field: "Grade"
                    }, {
                        command: ["edit", "destroy"],
                        title: "&nbsp;",
                        width: "210px"
                    }]
            });
        });
    </script>
}
