@model AssessmentAnywhere.Models.Assessments.DetailsModel
@{
    ViewBag.Title = Model.Name;
}

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Assessments", "Index", "Assessments")</li>
    <li>@Html.ActionLink("Registers", "Index", "Registers")</li>
</ul>
<div class="row-fluid">
    <div class="span3">
        <p>
            @Html.ActionLink("New assessment", "Create", "Assessments", null, new { @class = "btn btn-primary" })
        </p>
        @*<div class="navbar">
            <div class="navbar-inner">
                <form class="navbar-search pull-left" action="">
                    <input type="text" class="search-query" placeholder="Search" />
                </form>
            </div>
        </div>*@
        <ul class="nav nav-pills nav-stacked">
            @foreach (var assessment in Model.AllAssessments)
            {
                var activeClass = (assessment.Id == Model.Id) ? "active" : "";
                <li class="@activeClass">
                    @Html.ActionLink(assessment.Name, "Details", new { id = assessment.Id })
                </li>
            }
        </ul>

    </div>
    <div class="span9">
        <table class="table table-bordered table-striped" id="candidates">
            <caption></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Result</th>
                    @if (Model.HasBoundaries)
                    {
                        <th>Grades</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var candidate in Model.Candidates)
                {
                    <tr>
                        <td>@candidate.Name</td>
                        <td>
                            @using (Html.BeginForm("SetResult", "Assessments", new { id = Model.Id }, FormMethod.Post))
                            {
                                <input type="hidden" name="candidateName" value="@candidate.Name" />
                                <input type="number" name="result" value="@candidate.Result" />
                            }
                        </td>
                        @if (Model.HasBoundaries)
                        {
                            <td>@candidate.Grade</td>
                        }
                    </tr>
                }
                <tr>
                    <td>
                        <div class="control-group" id="newControls">
                            <div class="input-append">
                                <input id="newName" type="text" placeholder="New candidate ..." />
                                <button id="newbtn" class="btn"><i class="icon-plus"></i>Save</button>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    @if (Model.HasBoundaries)
                    {
                        <td></td>
                    }
                </tr>
            </tbody>
        </table>
        @Html.ActionLink("Edit grade boundaries", "Details", "GradeBoundaries", new { id = Model.Id }, new { @class = "btn" })
    </div>
</div>

<div>
         <p>
            @Html.ActionLink("Show Statistics", "ShowStatistics", "Statistics", new {id=Model.Id}, new { @class = "btn btn-primary" })
        </p>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            var addCandidate = function () {
                var name = $('#newName').val();
                if (name != '') {
                    $.post(
                        '@Url.Action("AddCandidate", new { id = Model.Id })',
                        { name: name },
                        function () {
                            location.reload();
                        },
                        'json');
                } else {
                    $('#newControls').addClass("error");
                }
            };
            $('#newName').keypress(function (event) {
                if (event.which == 13) {
                    addCandidate();
                }
            }).focusin(function () {
                $('#newControls').removeClass("error");
            });
            $('#newbtn').click(addCandidate);
            

        });
    </script>
}