@{
    ViewBag.Title = "Assessment Anywhere";
    ViewBag.ActiveNavItem = "Home";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 hero-unit">
            <h2>Welcome to Assessment Anywhere</h2>
            <p class="lead muted">The no-nonsense marking helper</p>
            <p>Sign in or register for free to get started!</p>
            <a href="@Url.Action("Register", "Account")" class="btn btn-info btn-large">
                <i class="icon-star-empty"></i>
                Register
            </a>
        </div>
        <div class="span4 well">
            @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
            {
                <div>
                    <fieldset>
                        <legend>
                            <i class="icon-signin"></i>
                            Sign In
                        </legend>

                        @Html.Label("UserName", "User name", new { @class = "control-label" })
                        @Html.TextBox("UserName")

                        @Html.Label("Password", new { @class = "control-label" })
                        @Html.Password("Password")

                        <label class="checkbox">
                            @Html.CheckBox("RememberMe")
                            Remember me
                        </label>
                        
                        <button type="submit" class="btn btn-large btn-success">
                            <i class="icon-signin"></i>
                            Sign In
                        </button>

                    </fieldset>
                </div>
            }
        </div>
    </div>
</div>
